* {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFEFA;
}
#hero {
    /* margin */
    padding-top: 50px ;
    background-image: url("Hero-bg.png");
    background-size: 500px;
    margin-bottom: 100px;
}
.continer {
    width: 87.5%;
    margin:0 auto;
}
#hero-continer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px;
    padding-right: 20px;
}
#hero-content{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
#hero-content h1{
    font-size: 48px;
    margin-bottom: 30px;
}
#hero-content p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #8A8A8A;
    font-weight: 500;
    line-height: 26px;
}
#hero-content h1 span {
    color: #872BFF;
}
/* common class button  */
.btn {
    background-color: #872BFF;
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    box-shadow: 0 11px 31px 0 #8C8C8C;
    cursor: pointer;
    margin-right: 20px;
    transition: all 1s;
    border: 2px solid #872BFF;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid #872BFF;
}
#hero-down {
    padding: 14px 30px;
    border: 2px solid #872BFF;
    border-radius: 30px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#hero-img img {
    width: 500px;
    vertical-align: middle;
}

/* skill section */
#skill , project{
    padding-bottom: 100px;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.heading h4 {
    color: #872BFF;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
.heading h2 {
    font-size: 44px;
    font-weight: bold;
}
.card-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}
.card {
    background-color: white;
    /* border: 1px solid red; */
    padding: 40px;
    text-align: center;
    width: 360px;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 16px;
     color: #0D1321;
}
.card h3{
    font-size: 24px;
    font-weight: bold;
}
.card p {
    font-size: 16px;
    color: #0D132170;
}
.card a {
    color: black;
    font-weight: bolder;
}
.card *{
    margin: 20px;
}

/* project section  */
#project {
    margin-bottom: 100px
}
.project-card {
    padding: 48px;
    background-color: white;
    display: flex;
    border: 1px solid #872BFF;
    border-radius: 20px;
    gap: 20px;
    align-items: center;
    margin-bottom: 60px;
}
.project-img img {
    width: 400px;
    border-radius: 20px;
}
.project-content h3{
    font-size: 30px;
    font-weight: bold;
}
.project-content p {
    color: #0e0e0e70;
}
.project-content *{
    margin: 18px;
}

/* experience section  */
#experience {
    margin-bottom: 100px;
}
.company-card{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.brands {
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 16px;
}
.btn-continer {
    text-align: center;
}
/* footer section  */
 footer {
    border-top: 1px solid #872BFF;
}
.footer-content {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 15px;
}
.footer-right img{
    padding-left: 20px;
}
#footer-left p{
    color: #5B5757;
}

/* commom section  */
.hidden {
    display: none;
}
/* responsive part  */


/* laptop device 1025 - 1200 */
@media screen and (max-width:1200px) {
    #hero-content h1{
    font-size: 32px;
    margin-bottom: 30px;
    }
    #hero-content p {
        font-size: 14px;
    }
    .footer-left p{
        font-size: 17px;
        padding-top: 5px;
    }
}
/* tablate device  769 - 1024*/
@media screen and (max-width:1024px) {
    .hero-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* gap: 20px; */
    }
    #hero-continer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #hero-content {
        padding-bottom: 0px;
    }
    #hero-img img {
        width: 350px;
    }
    .card {
        width: 100%;
    }
    .card-box{
        flex-direction: column;
        align-items: center;
    }
    .project-img img{
        width: 350px;
    }
    .project-content * {
        margin-bottom: 10px;
        margin: 10px;
    }
    .project-content p {
        font-size: 14px;
    }
    .project-content .btn {
        margin: 0px;
    }
   .footer-left p{
        font-size: 15px;
    }
    
}
/* large androde device  569 - 768*/
@media screen and (max-width:768px) {
    .heading{
        margin-bottom: 10px;
    }
    .heading h2 {
        font-size: 35px;
    }
    .project-img img{
        width: 100%;
    }
    .project-card {
        padding: 30px;
    }
    .project-card {
        flex-direction: column;
        text-align: center;
    }
    #skill {
        padding-bottom: 20px;
    }
    .footer-right {
        display: flex;
    }
    .footer-content {
        padding: 10px 0px;
    }
    .footer-left p{
        font-size: 12px;
        padding-top: 7px;
    }
}
/* androde device  320 - 568*/
@media screen and (max-width:568px) {
    .continer {
      width: 98%;
      margin:0 auto;
    }
    #hero-img img {
        width: 100%;
    }
    #hero-continer {
        padding-right: 0px;
    }
    .heading h2 {
        font-size: 22px;
    }
    .heading h4 {
        font-size: 15px;
    }
    .project-card {
        padding: 10px;
    }
    .company-card {
        flex-direction: column;
    }
    .brands {
        padding: 10px;
        text-align: center;
    }
    .company-card img {
        width: 100px;
        max-width: 150px;
    }
    .heading h2 {
        font-size: 20px;
    }
    .footer-left p{
        font-size: 10px;
    }
}